@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'protest';
  src: url('../src/assets/Font/ProtestRevolution-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barri';
  src: url('../src/assets/Font/Barriecito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lucky';
  src: url('../src/assets/Font/LuckiestGuy-Regular.ttf') format('truetype');
}

* {
  outline: none;
}

/* Hacks for react-date-range (Todo: Remove when package changes) */

/* Removes option sidebar */
.rdrDefinedRangesWrapper {
  display: none;
}

/* Reduces size for small screens */
@media screen and (max-width: 345px) {
  .rdrMonths.rdrMonthsVertical .rdrMonth {
    width: 100%;
  }
}
